.skeleton__wrapper {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.skeleton__image {
    width: 280px;
    height: 250px;
    background: #ddd;
}

.skeleton__title,
.skeleton__ptice {
    width: 90%;
    height: 30px;
    background: #ddd;
    margin-top: 10px;
    border-radius: 10px;
}

.skeleton__ptice {
    width: 70%;
}

.skeleton__anime {
    background: linear-gradient(90deg, #f7f7f7, #ddd, #f7f7f7);
    background-size: 200%;
    animation: skeletonAnime 1s linear 0s infinite;
}