.admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.admin__left h2 {
    color: rgb(33, 37, 41);
    font-family: Manrope;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.48px;
    text-align: left;
}

.admin__left p {
    color: rgb(122, 122, 122);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.5px;
    letter-spacing: 0.48px;
    text-align: left;
    padding: 10px 0;
}

.admin__left__bootm {
    width: 636px;
    height: 142px;
    box-sizing: border-box;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    background: rgb(247, 247, 248);
    display: flex;
    justify-content: space-around;
}

.bootm__text {
    width: 203.33px;
    height: 92px;
    padding: 25px 0;
}

.bootm__text h3 {
    color: rgb(245, 62, 50);
    font-family: Manrope;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}

.bootm__text p {
    color: rgb(33, 37, 41);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.48px;
    margin-left: 20px;
}